<app-layout>
    <div class="talking-lists">
        <div class="header">
            <h4>List-O-Matic > <a href="/lists">Admin</a> ></h4>
            <div style="flex-basis: 100%;"></div>
            <p class="header-icon"><fa-icon [icon]="faChalkboardTeacher"></fa-icon></p>
            <h1>Redelisten</h1>
        </div>

        <div class="list-table">
            <div class="list-entry" *ngFor="let list of lists" (click)="goToListDetail(list.uuid);">
                <p class="list-entry-header">{{ list.name }}</p>
            </div>
        </div>
    </div>
</app-layout>
