
<div class="container">
    <div class="header">

    </div>
    <div class="content">


        <table class="list">
            <tr class="header-row">
                <td><input type="checkbox"></td>
                <th>Name</th>
            </tr>
            <tr>
                <td><input type="checkbox"></td>
                <td>lelele</td>
            </tr>
        </table>

    <!--
        <div class="list">
            <div class="list-row header-row">

            </div>
            <div class="list-row">
                alalalalalal
            </div>
            <div class="list-row">
                alalalalalal
            </div>
            <div class="list-row">
                alalalalalal
            </div>
            <div class="list-row">
                alalalalalal
            </div>
            <div class="list-row">
                alalalalalal
            </div>
        </div>
    -->
    </div>
</div>
