<app-layout [title]="list ? list.name : ''" [titleIcon]="faChalkboardTeacher" [breadcrumbs]="breadcrumbs">
  <div class="talking-list" *ngIf="list">
    <app-block-container>
      <app-block-element name="Vergangene Redebeiträge" [icon]="faTasks" [isDoubleWidth]="true"
        [hasButton]="userService.currentUserIsAdmin()" [buttonIcon]="faRedo"
        (buttonClick)="resetContributionDistribution();">
        <app-block-element-table>
          <app-block-element-table-row>
            <app-block-element-table-heading>Name</app-block-element-table-heading>
            <app-block-element-table-heading>Gruppe</app-block-element-table-heading>
            <app-block-element-table-heading>Startzeit</app-block-element-table-heading>
            <app-block-element-table-heading>Endzeit</app-block-element-table-heading>
            <app-block-element-table-heading>Dauer</app-block-element-table-heading>
          </app-block-element-table-row>
          <app-block-element-table-row *ngFor="let contrib of list.pastContributions">
            <app-block-element-table-cell>{{ contrib.application.name }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ groupNameByUuid(contrib.groupUuid) }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ prettyDateFormat(contrib.startTime) }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ prettyDateFormat(contrib.endTime) }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ fixDecimalFormat(contrib.duration / 1000000000) }} sec
            </app-block-element-table-cell>
          </app-block-element-table-row>
        </app-block-element-table>
      </app-block-element>

      <app-block-element [isDoubleWidth]="true" name="Redezeitverteilung" [icon]="faStopwatch">
        <app-block-element-table>
          <app-block-element-table-row>
            <app-block-element-table-heading>Gruppe</app-block-element-table-heading>
            <app-block-element-table-heading>Anzahl Beitr&auml;ge</app-block-element-table-heading>
            <app-block-element-table-heading>Anteil, absolut</app-block-element-table-heading>
            <app-block-element-table-heading>Anteil, relativ</app-block-element-table-heading>
          </app-block-element-table-row>
          <app-block-element-table-row *ngFor="let group of list.groups">
            <app-block-element-table-cell>{{ group.name }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ group.numberContributions }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ fixDecimalFormat(group.totalTalkingTime / 1000000000) }} sec
            </app-block-element-table-cell>
            <app-block-element-table-cell>{{ fixDecimalFormat(group.talkingTimeShare) }} %
            </app-block-element-table-cell>
          </app-block-element-table-row>
        </app-block-element-table>
      </app-block-element>

      <app-block-element name="Anwesenheitsliste" [icon]="faUsers" [isDoubleWidth]="true" [hasButton]="true" [buttonIcon]="faCopy" (buttonClick)="copyAttendeeListToClipboard();">
        <app-block-element-table>
          <app-block-element-table-row>
            <app-block-element-table-heading>Vorname</app-block-element-table-heading>
            <app-block-element-table-heading>Nachname</app-block-element-table-heading>
            <app-block-element-table-heading>Studiengang</app-block-element-table-heading>
            <app-block-element-table-heading>E-Mail</app-block-element-table-heading>
            <app-block-element-table-heading style="width: 30px; border: 0;" *ngIf="userService.currentUserIsAdmin()">&nbsp;</app-block-element-table-heading>
          </app-block-element-table-row>
          <app-block-element-table-row *ngIf="userService.currentUserIsAdmin()">
            <app-block-element-table-cell class="table-input"><input #attendeeGivenName type="text"></app-block-element-table-cell>
            <app-block-element-table-cell class="table-input"><input #attendeeSurName type="text"></app-block-element-table-cell>
            <app-block-element-table-cell class="table-input"><input #attendeeDegree type="text"></app-block-element-table-cell>
            <app-block-element-table-cell class="table-input"><input #attendeeMail type="text"></app-block-element-table-cell>
            <app-block-element-table-cell class="table-button"><button (click)="addAttendee(attendeeGivenName, attendeeSurName, attendeeDegree, attendeeMail)"><fa-icon [icon]="faPlus"></fa-icon></button></app-block-element-table-cell>
          </app-block-element-table-row>
          <app-block-element-table-row *ngFor="let attendee of list.attendees">
            <app-block-element-table-cell>{{ attendee.givenName }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ attendee.surName }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ attendee.degree }}</app-block-element-table-cell>
            <app-block-element-table-cell>{{ attendee.mail }}</app-block-element-table-cell>
            <app-block-element-table-cell class="table-button table-button-delete" *ngIf="userService.currentUserIsAdmin()"><button (click)="deleteAttendee(attendee.uuid);"><fa-icon [icon]="faTrashAlt"></fa-icon></button></app-block-element-table-cell>
          </app-block-element-table-row>
        </app-block-element-table>
      </app-block-element>
    </app-block-container>

    <app-block-container>
      <app-block-element name="Aktueller Redebeitrag" [icon]="faChalkboardTeacher"
        [hasButton]="userService.currentUserIsAdmin() && (list.currentContribution !== undefined) && list.currentContribution.inProgress"
        [buttonIcon]="faStop" (buttonClick)="stopContribution()">
        <p *ngIf="list.currentContribution && list.currentContribution.inProgress" class="current-contribution">
          Seit {{ prettyDateFormat(list.currentContribution.startTime) }} spricht
          {{ list.currentContribution.application.name }} aus Gruppe {{
          groupNameByUuid(list.currentContribution.groupUuid) }}.
        </p>
        <p *ngIf="!list.currentContribution || !list.currentContribution.inProgress" class="current-contribution" style="margin: 0.5rem 0;">Es
          l&auml;uft aktuell kein Beitrag.</p>
      </app-block-element>
      <app-block-element *ngIf="userService.currentUserIsAdmin()" name="Gruppe hinzufügen" [icon]="faUsers">
        <app-block-element-input-group placeholder="Name" (submit)="newGroup($event)"></app-block-element-input-group>
      </app-block-element>
      <app-block-element *ngIf="userService.currentUserIsAdmin()" name="Liste verwalten" [icon]="faUsersCog">
        <p style="flex-basis: 100%; margin: 0.5rem 0;">Diese Liste ist aktuell <b>{{ visibilityLut.get(list.visibility) }}</b></p>
        <select #visibilitySelect style="flex-grow: 1; margin-right: 0.5rem;" [value]="list.visibility">
          <option value="0">Privat</option>
          <option value="1">Nicht gelistet</option>
          <option value="2">&Ouml;ffentlich</option>
        </select>
        <button (click)="changeVisibility(visibilitySelect.value)"><fa-icon [icon]="faWrench"></fa-icon></button>
        <button class="delete-btn" style="flex-basis: 100%; margin: 0.5rem 0;" (click)="deleteList();">Liste l&ouml;schen</button>
        <button style="flex-basis: 100%; margin: 0 0 0.5rem 0;" (click)="downloadReport()">Report erstellen</button>
      </app-block-element>
    </app-block-container>

    <app-block-container>
      <app-block-element *ngFor="let group of list.groups" [name]="group.name" [icon]="faUsers"
        [hasButton]="userService.currentUserIsAdmin()" (buttonClick)="deleteGroup(group.uuid)"
        [buttonIcon]="faTrashAlt">
        <app-block-element-input-group *ngIf="!runningApplications.hasApplicationActive(listUuid)" placeholder="Name" (submit)="newApplication(group.uuid, $event)" [icon]="faPlus">
        </app-block-element-input-group>
        <div class="application-list">
          <div class="application-entry" *ngFor="let application of group.applications">
            <p>{{ application.name }}</p>
            <button *ngIf="userService.currentUserIsAdmin()" (click)="startContribution(group.uuid, application.uuid)"
              style="margin-right: 0.5rem;">
              <fa-icon [icon]="faPlay"></fa-icon>
            </button>
            <button
              *ngIf="userService.currentUserIsAdmin() || runningApplications.isOwnApplication(listUuid, application.uuid)"
              class="delete-btn" (click)="deleteApplication(group.uuid, application.uuid)">
              <fa-icon [icon]="faTrashAlt"></fa-icon>
            </button>
          </div>
        </div>
      </app-block-element>
    </app-block-container>
  </div>
</app-layout>
