.talking-list {
  display: flex;
  flex-wrap: wrap;
}

.delete-btn:hover {
  color: red;
}

.application-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 100%;

  .application-entry {
    display: flex;
    flex-basis: 100%;
    padding: 0.5rem 0;

    p {
      box-sizing: border-box;
      flex-grow: 1;
      padding: 0.5rem 0.25rem;
      font-size: 1rem;
      margin-right: 0.5rem;
      line-height: 1.5rem;
      word-break: break-all;
    }
  }
}
