<router-outlet></router-outlet>
<!--
<div class="talkingList">
  <div class="prevContributions">
    <h3>Vergangene Redebeitr&auml;ge</h3>
    <table>
      <tr>
        <th>Name</th>
        <th>Gruppe</th>
        <th>Startzeit</th>
        <th>Endzeit</th>
        <th>Dauer</th>
      </tr>
      <tr *ngFor="let contribution of talkingList.pastContribution">
        <td>{{ contribution.application.name }}</td>
        <td>{{ getGroupName(contribution.groupUuid) }}</td>
        <td>{{ contribution.startTime }}</td>
        <td>{{ contribution.endTime }}</td>
        <td>{{ trimDecimal(contribution.duration / 1000000000) }} sec</td>
      </tr>
    </table>
  </div>
  <div class="timeDistribution">
    <h3>Zeitverteilung</h3>
    <table>
      <tr>
        <th>Gruppe</th>
        <th>Anteil absolut</th>
        <th>Anteil relativ</th>
      </tr>
      <tr *ngFor="let group of talkingList.groups">
        <td>{{ group.name }}</td>
        <td>{{ trimDecimal(group.totalTalkingTime / 1000000000) }} sec</td>
        <td>{{ trimDecimal(group.talkingTimeShare) }} %</td>
      </tr>
    </table>
  </div>
  <div class="currentContribution">
    <div *ngIf="talkingList.currentContribution.inProgress">
      <h3>Aktueller Redebeitrag</h3>
      <p>{{ talkingList.currentContribution.application.name }},
        l&auml;uft seit: {{ talkingList.currentContribution.startTime }}</p>
      <button (click)="stopContribution()">Redebeitrag beenden</button>
    </div>
    <div *ngIf="!talkingList.currentContribution.inProgress">
      <h3>Kein Redebeitrag aktiv.</h3>
    </div>
  </div>
  <div class="wrapHere"></div>
  <div class="addGroup">
    <input #groupNameInput type="text" placeholder="Name">
    <button (click)="addGroup(groupNameInput.value)">Gruppe hinzuf&uuml;gen</button>
  </div>
  <div class="buttonField">
    <button (click)="resetPastContributions()">History zur&uuml;cksetzen</button>
  </div>
  <div class="wrapHere"></div>
  <div class="talkingGroup" *ngFor="let group of talkingList.groups">
    <p class="groupName">{{ group.name }}</p>
    <button (click)="removeGroup(group.uuid)">Gruppe L&ouml;schen</button><br>

    <input #nameInput type="text" placeholder="Name">
    <button (click)="addApplication(group.uuid, nameInput.value)">+</button>

    <div class="talkingApplication" *ngFor="let application of group.applications">
      <p>{{ application.name }}</p>
      <button (click)="startContribution(group.uuid, application.uuid)">S</button>
      <button (click)="removeApplication(group.uuid, application.uuid)">X</button>
    </div>
  </div>
</div>
-->