.container {
    width: 100%;
    height: 100%;

    .header {
        border-bottom: 1px solid #c0c0c0;
        height: 5rem;
    }

    .content {
        box-sizing: border-box;
        height: calc(100% - 5rem);
        padding: 1rem;
    }
}
